
<h3>{{data}}</h3>

<table class="table-calendar">
	<tr class="month-label-row">
	    <td colspan=7 class="month-name"></td>
	</tr>
	<tr class="weekday-label-row">
	    <td></td>
	</tr>
	<tr class="day-label-row">
	    <td></td>
	</tr>
</table>
