<header>
	<ul>
		<li>{{#linkTo "cal"}} Home {{/linkTo}}</li>
		<li>{{#linkTo "location"}} location {{/linkTo}}</li>
		<li>{{#linkTo "organization"}} organization {{/linkTo}}</li>
	</ul>
</header>

<section class="content">

	{{outlet}}

</div>


<footer>
	<hr>
	<p>Develop by BiteKollektiv </p>
</footer>